$main-font: 'Open Sans', sans-serif;;
$one-font: 'PT Sans',sans-serif;
$font-color: #fff;
$header-color: #fefefb;
$font-size: 20px;
$font-height: 1.5; //line-height
$font-weight: 400;
$color-bg: #fff;


/** Grid variables **/
$container-width: 1200px;
$col-padding: 15px;