@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans:400,700i');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700i');
@import "normalize";
@import "variables";
@import "mixin";
@import "grid";


*, *:after, *:before{
	@include box-sizing;
}

body{
	font-family: $main-font, $one-font;
	color: $font-color;
	min-height: 100%;
	height: 100%;
}
.ba-container{
	max-width: 1140px;
	width: 100%;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}
.first-slide{
	min-height: 100vh;
	height: auto;
	background: #b2adc9 url('../images/DeathtoStock_Wired7.png') no-repeat center center; 
	background-size: cover;
}
.first-slide h1{
font-family: $main-font, $one-font;
color:  #fefefb;
font-size: $font-size+50;
font-weight: 700;
line-height: 1.2;
text-transform: uppercase;
transform: scaleY(1.0035);
padding-top: 90px;
margin: auto;
text-align: center;
}
.first-slide h3{
  width: 80%;
  font-family: $main-font, $one-font;
  color:  $header-color;
  font-size: $font-size+10;
  transform: scaleY(1.0035);
  margin: auto;
  text-align: center;
  padding-top: 20px;

}
/* Header */
.logo{
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	float: left;
	padding-top: 20px;
}
.navigation{
	display: inline-block;
    max-width: 83.3333%;
    font-weight: 400;
	float: right;
    
}

.navigation ul li {
	display: inline-block;
    padding-left: 0;
    font-family: $main-font, $one-font;
    color:  $font-color;
	font-size: 24px;
	font-weight: 600;
    list-style: none;
	text-transform: uppercase;
	padding: 30px 5px 5px 25px;
}
ul li a{
	text-decoration: none;
	color: $font-color;
}
ul li a:hover{
    color:#fff;
    border: 1px solid $font-color;
    border-radius: 5%;
    padding: 5px;

}
ul li a:active{
    color:$font-color;
}
/*About*/
.about{
	padding-top: 70px;

	p{
		padding-top: 20px;
		line-height: $font-height;
	}
}
.about button{
display: block;
color: #7d7a7c;
background: $font-color;
font-size: $font-size;
width: 30%;
height: 56px;
margin: auto;
text-align: center;
margin-top: 50px;
}
/*work*/
.work{
	background: #b2aed0;
	background-size: cover;
}
.work h2{
font-family: $main-font, $one-font;
color:  $header-color;
font-size: $font-size+16;
font-weight: 600;
text-align: center;
text-transform: uppercase;
padding-top: 30px;
}
.slide-content img{
	display: block;
	text-align: center;
	margin: auto;
	padding-bottom: 70px;
}

/*@media(max-width: 1200px){
	}*/
